.container{
    background-color: rgb(216, 240, 252);
}
header{
    background-color: rgb(253, 234, 182);
}
.head{
    text-align: center;
}
.mainhead{

    font-weight: bold;
    color: rgb(3, 1, 10);
    text-align: center;
}
.sup{
    float: right;
}
.er{
    max-width: 600px;
    min-width: 250px;
    background-color: rgb(207, 167, 245);
    border-radius: 20px;
    
}
.per{
    font-weight: bold;
    font-size: 24px;
}
#timer{
    float: right;
    width: 50px;
}
#finish{
    display: none;
    
}